{% extends 'base.html' %}
{% block page_title %}리뷰{% endblock page_title %}
{% block content %}

<div class="mypage-container">
    <div class="vertical-container">
        {% include 'users/partials/navbar.html' %}
    </div>
    <div class="my-info">
        <div class="mypage-text">
            <h2>리뷰 작성 내역</h2>
            <hr/>
        </div>
        {% for re in review_list %}
        <h3>{{re}}</h3>
        <h4>{{re.review}}: {{re.rating}}</h4>
        <a href="{% url 'reviews:update' pk=re.pk %}">리뷰 수정</a>
        <a href="{% url 'reviews:delete' pk=re.pk %}">리뷰 삭제</a>
        <hr />
        {% endfor %}
    </div>
</div>
{% endblock %}