{% extends 'base.html' %}
{% block page_title %}예약 페이지{% endblock page_title %}
{% block content %}

<h1>예약 페이지</h1>

<h3>예약자 정보</h3>

<div>
    {% if request.user.is_authenticated %}
        <p>예약자 이름 : {{ request.user.name }}</p>
        <p>예약자 이메일 : {{ request.user.email }}</p>
        <p>예약자 번호 : {{ request.user.phone }}</p>
    {% endif %}
</div>

<h3>결제 정보</h3>

<form action='http://127.0.0.1:8000/reservations/' method="POST" class = "post-form">
  {% csrf_token %}
  <div>
    <p>숙소 이름 : {{ request.hotel.title }}</p>
    <p>객실 이름 : {{ request.room.name }}</p>
    <p>체크인 : {{ request.reservation.check_in }}</p>
    <p>체크아웃 : {{ request.reservation.check_out }}</p>
</div>

<h3>총 결제 금액</h3>

<div>
    <p>{{ request.hotel.pro_price }}원</p>
</div>

<h3>결제 수단</h3>

  <select class="form-select" name="payment">
    <option value="none">선택</option>
    <option value="credit card">신용카드</option>
    <option value="virtual account">가상계좌</option>
    <option value="transfer account">계좌이체</option>
    <option value="phone">휴대폰결제</option>
    <option value="toss">토스</option>
    <option value="kakaopay">카카오페이</option>
    <option value="naverpay">네이버페이</option>
    <option value="payco">페이코</option>
  </select>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="payment_agreement" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      (필수) 숙소이용규칙 및 취소/환불규정 동의
    </label>
  </div>
  
  <div>
    <button type="submit" class="save btn btn-default">결제하기</button>
  </div>
</form>
{% endblock %}
{% comment %} <div>
    <p>숙소 이름 : {{ request.hotel.title }}</p>
    <p>객실 이름 : {{ request.room.name }}</p>
    <p>체크인 : {{ request.reservation.check_in }}</p>
    <p>체크아웃 : {{ request.reservation.check_out }}</p>
</div> {% endcomment %}

{% comment %} <h3>총 결제 금액</h3>

<div>
    <p>{{ request.hotel.pro_price }}원</p>
</div>

<h3>결제 수단</h3>

<form>
    <select class="form-select" name="payment">
      <option value="none">선택</option>
      <option value="credit card">신용카드</option>
      <option value="virtual account">가상계좌</option>
      <option value="transfer account">계좌이체</option>
      <option value="phone">휴대폰결제</option>
      <option value="toss">토스</option>
      <option value="kakaopay">카카오페이</option>
      <option value="naverpay">네이버페이</option>
      <option value="payco">페이코</option>
    </select>
  </form>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="payment_agreement" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      (필수) 숙소이용규칙 및 취소/환불규정 동의
    </label>
  </div>
  
  <div>
    <button type="submit" class="save btn btn-default">결제하기</button>
  </div>
  

{% endblock %} {% endcomment %}
