{% extends 'base.html' %}
{% block page_title %}예약 페이지{% endblock page_title %}
{% block content %}

<div class="pay-container">
        <div class="view-container">
          <form action="." method="POST" class="post-form">
            <h3>예약자 정보</h3>
            <hr/>
            <div>
                <p class="customer-info">{{ user.name }}</p>
                <p class="customer-info">{{ user.email }}</p>
                <p class="customer-info">{{ user.phone }}</p>
            </div>
                {% csrf_token %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="payment_agreement" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    (필수) 숙소이용규칙 및 취소/환불규정 동의
                  </label>
                  </div>
                    {{form.request}}
                    {{form.payment}}
                </div>
        <div class="payment-container">
            <div>
                <p class="room-info"><span>숙소 이름</span> {{ room.hotel.title }}</p>
                <p class="room-info"><span>객실 이름</span> {{ room.room_name }}</p>
                <p class="room-info"><span>체크인</span> {{check_in}}</p>
                <p class="room-info"><span>체크아웃</span> {{check_out}}</p>
            </div>
            <hr class="bil-hr"/>
            <div class="total-container">
                <h3>총 결제 금액</h3>
                <p class="total-price">{{ room.price }}원</p>
            </div>
            <div>
                <button type="submit" class="save btn btn-default" id="pay-button">결제하기</button>
            </div>
            </form>
        </div>
        </div>
</div>
{% endblock %}