@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: 'pretendard';
  margin: 0px;
  padding: 0px;
  color: #333333;
}

a {
    text-decoration: none;
}

.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50px;
    background: #4AA8DB;
    font-size: 16px;
    font-weight: 700;
}

.navbar a{
    color: #fff;
    padding: 10px;
    float: right;
    margin-right: 10%;
}

label{
    float: left;
}

.main-form input{
    background: #e5e5e5;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 500px;
}

.search-button, .login-button, .register-button{
    background: #4AA8DB;
    color: #fff;
    border: none;
    width: 500px;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

.main-form{
    width: 500px;
    height: 400px;
    padding: 50px;
    border: 1px solid #e5e5e5;
    text-align: center;
    background: #fff;
    border-radius: 8px;
}

.main-form-container{
    background-image: url('./images/banner.png');
    padding: 100px;
}

.text-container {
    line-height: 2rem;
}

.logo-container {
    width: 300px;
    float: left;
    padding-left: 10%;
}

.footer-logo-container{
    margin-bottom: 30px;
}

.footer{
    background: #e5e5e5;
    height: 100px;
    width: (100% - 100px);
    padding: 50px;
    font-size: 18px;
    line-height: 2rem;
}

.search-container{
    min-height: 50vh;
    padding: 50px;
}

.login-container{
    height: 80vh;
    width: 100%;
    padding-top: 50px;
    position: relative;
}

.register-container{
    height: 120vh;
    width: 100%;
    padding-top: 50px;
    position: relative;
}

.login-form, .register-form{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #e5e5e5;
    width: 700px;
    padding: 50px;
    text-align: center;
}

.login-form{
    height: 400px;
    margin: -220px 0px 0px -400px;
}

.register-form {
    height: 630px;
    margin: -350px 0px 0px -400px;
}

.login-form input, .register-form input{
    background: #e5e5e5;
    border: none;
    padding: 10px;
    width: 500px;
    border-radius: 8px;
}

.login-form p, .register-form p{
    margin-bottom: 30px;
}
.register-form input {
    float: right
}

.register-form p{
    width: 700px;
    height: 36px;
}

.giant-logo{
    margin-bottom: 30px;
}

.login-form p label{
    display: none;
}

.go-register{
    text-align: right;
    margin-top: 30px;
}

.register-link{
    color: #4AA8DB;
    font-weight: 700;
}

input[id="id_is_host"] {
    width: 24px;
    height: 24px;
    margin-right:475px;
    cursor: pointer;
}

.navbar-vertical{
    width: 340px;
    background: #e5e5e5;
}

.mypage-container{
    padding: 50px;
    height: 100vh;
}
.vertical-container{
    padding-top: 100px;
    float:left;
}
.my-info{
    padding-top: 100px;
    float: right;
    width: 70%;
}

.sidebar-content{
    list-style: none;
}

.sidebar-content li{
    padding: 20px;
}
#data{
    width: 60%;
    padding: 10px;
}

.my-info span{
    color: #777777;
    text-align: left;
}

.info-data {
    float: right;
    text-align: right;
}

.change-info-link {
    text-align: center;
    background: #4AA8DB;
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.change-info-link a{
    color: #fff;
    fot-size: 18px;
}

hr {
    background: #4AA8DB;
    height: 2px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quit {
    text-align: right;
    margin-top: 100px;
}

.quit a{
    color: #777777;
}

#data p {
    width: 100%;
    height: 36px;
    margin-bottom: 30px;
}

#data p input {
    float: right;
    background: #e5e5e5;
    border: none;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

.data input{
    background: #e5e5e5 !important;
}