{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div class="upload-container">
    <div class="add-room-container">
        <div class="add-room-text">
            <h3 class="my-3 border-bottom pb-2">객실 등록</h3>
        </div>
        <hr/>
        <form class="add-room-form" method="POST" id="room" enctype="multipart/form-data" class="post-form my-3">
            {% csrf_token %}
            {{ room.as_p }}
            <button id="add-room-save" type="button" class="btn btn-primary" onclick="board.fn_save();">저장하기</button>
            <button id="add-room-list" type="button" class="btn btn-primary list" onclick="board.fn_list();">목록</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    let board = {
        fn_save: function () {
            $('#room').submit();
        },
        fn_list: function() {
            location.href="/hotels/my_hotel"
        }
    }


</script>
{% endblock %}