{% load static %}

<div class="navbar">
    <div class="logo-container">
        <a href="{% url 'core:home' %}">
            <img src="{%static 'images/logo_white.png' %}" />
        </a>
    </div>
    {% if user.is_authenticated %}
    {% if user.is_host %}
    <a href="{% url 'hotels:my_hotel' %}">staff</a>
    {% endif %}
    <a href="{% url 'users:logout' %}">로그아웃</a>
    <a href="{% url 'users:mypage' %}">마이페이지</a>
    {% else %}
    <a href="{% url 'users:login' %}">로그인</a>
    <a href="{% url 'users:register' %}">회원가입</a>
    {% endif %}
</div>