{% extends 'base.html'}
{% block page_title %}호텔 정보{% endblock page_title %}
{% block content %}

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><B>번호</B></td>
                    <td><B>이름</B></td>
                    <td><B>썸네일</B></td>
                </tr>
            </thead>
            <tbody>
                {% for hotel in hotels %}
                <tr>
                    <td>{{hotel.id}}번</td>
                    <td><a
                            href="{% url 'hotels:viewhotel' hotel_pk=hotel.pk check_in=check_in check_out=check_out%}">{{hotel.title}}</a>
                    </td>
                    {% if hotel.thumb_file %}
                    <td><img src={{hotel.thumb_file.url}} style="width:60px; height:60px" /></td>
                    {% endif %}
                </tr>
                {% endfor %}
            <tbody>
        </table>
</body>
{% endblock %}
