{% extends 'base.html' %}
{% block page_title %}상품 정보 수정{% endblock page_title %}
{% block content %}

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div class="upload-container">
    <form method="POST" id="hotel" enctype="multipart/form-data" class="upload-form">
            <h3 class="my-3 border-bottom pb-2">상품 수정</h3>
            <hr/>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="add-room-container">
            <p>
                <h3>객실 추가</h3>
                <button type="button" id="room" value="" onclick="board.fn_roomPlus();">
                    객실 추가
                </button>
            </p>
            <hr/>
            <div id="roomList">
                {{ form2.as_p }}
            </div>
            </div>
        <button type="button" id="room" value="" onclick="board.fn_roomPlus();">객실 추가</button>
        <input type="hidden" name="types[]" id="na" value="{{hotels.facility}}">
        <div class="facility">
            <h3>편의 시설 추가</h3>
            <hr/>
            <li>
                <label for="id_types_0">
                    <input type="checkbox" name="types[]" value="1" id="id_types_0">
                    장애인 전용 객실
                </label>
            </li>
            <li>
                <label for="id_types_1">
                    <input type="checkbox" name="types[]" value="2" id="id_types_1">
                    장애인 전용 화장실
                </label>
            </li>
            <li>
                <label for="id_types_2">
                    <input type="checkbox" name="types[]" value="3" id="id_types_2">
                    장애인 전용 주차구역
                </label>
            </li>
            <li>
                <label for="id_types_3">
                    <input type="checkbox" name="types[]" value="4" id="id_types_3">
                    장애인 전용 엘레베이터
                </label>
            </li>
            <li>
                <label for="id_types_4">
                    <input type="checkbox" name="types[]" value="5" id="id_types_4">
                    주출입구 단차 없음
                </label>
            </li>
            <li>
                <label for="id_types_5">
                    <input type="checkbox" name="types[]" value="7" id="id_types_5">
                    휠체어 대여 가능
                </label>
            </li>
            <li>
                <label for="id_types_6">
                    <input type="checkbox" name="types[]" value="8" id="id_types_6">
                    휠체어 사용자 접근 가능
                </label>
            </li>
            <li>
                <label for="id_types_7">
                    <input type="checkbox" name="types[]" value="9" id="id_types_7">
                    장애인 보조기기 제공
                </label>
            </li>
            <li>
                <label for="id_types_8">
                    <input type="checkbox" name="types[]" value="10" id="id_types_8">
                    시각 장애인 접근성
                </label>
            </li>
            <li>
                <label for="id_types_9">
                    <input type="checkbox" name="types[]" value="12" id="id_types_9">
                    청각장애인 접근성
                </label>
            </li>
        </div>
        <input type="hidden" name="roomNm" id="roomNm" value="">
        <input type="hidden" name="room_price" id="roomPrice" value="">
        
        <button type="button" class="btn btn-primary" onclick="board.fn_save();">저장하기</button>
    </form>
</div>
{% endblock %}
<script type="text/javascript">
    var check = $('#na').val();
    console.log(check);
    for (var i in check){
        console.log(check[i]);
        if (check[i] == '1') $('input:checkbox[id="id_types_0"]').prop("checked", true);
        else if(check[i] == '2') $('input:checkbox[id="id_types_1"]').prop("checked", true);
        else if(check[i] == '3') $('input:checkbox[id="id_types_2"]').prop("checked", true);
        else if(check[i] == '4') $('input:checkbox[id="id_types_3"]').prop("checked", true);
        else if(check[i] == '5') $('input:checkbox[id="id_types_4"]').prop("checked", true);
        else if(check[i] == '6') $('input:checkbox[id="id_types_5"]').prop("checked", true);
        else if(check[i] == '7') $('input:checkbox[id="id_types_6"]').prop("checked", true);
        else if(check[i] == '8') $('input:checkbox[id="id_types_7"]').prop("checked", true);
        else if(check[i] == '9') $('input:checkbox[id="id_types_8"]').prop("checked", true);
        else if(check[i] == '10') $('input:checkbox[id="id_types_9"]').prop("checked", true);
    }
    
    let board = {

        fn_roomPlus : function(){
            var appendHtml = '';
        
            appendHtml +='<p><label for="id_room_name">객실 이름:</label>';    
            appendHtml +='<input type="text" name="room_name" maxlength="50" required id="id_room_name"></p>';        
            appendHtml +='<p><label for="id_price">객실 가격:</label>  <input type="text" name="price" maxlength="50" required id="id_price"></p>';    
           
            $('#roomList').append(appendHtml);

        },
        fn_save : function(){
            var rl = $("input[name=room_name]").length;
		    var roomNm = new Array(rl);
		    for(var i=0; i<rl; i++){                          
			    roomNm[i] = $("input[name=room_name]").eq(i).val();
            }
            $('#roomNm').val(roomNm);

            var rp = $("input[name=price]").length;
		    var roomPrice = new Array(rp);
		    for(var i=0; i<rp; i++){                          
			    roomPrice[i] = $("input[name=price]").eq(i).val();
             }
            $('#roomPrice').val(roomPrice);
            console.log(roomNm);
            console.log(roomPrice);
            $('#hotel').submit(); 
        }
    }   
</script>