{% extends "base.html" %}
{% block page_title %}비밀번호 변경{% endblock page_title %}
{% block content %}

<div class="mypage-container">
    <div class="vertical-container">
        {% include 'users/partials/navbar.html' %}
    </div>
    <div class="my-info">
        <div class="mypage-text">
            <h2>비밀번호 변경</h2>
            <hr/>
        </div>
        <form action="{% url 'users:update_password' %}" method="POST">
            {%csrf_token%}
            <div id="data">
                <span>현재 비밀번호</span>
                <div class="info-data">{{form.old_password}}</div>
            </div>
            {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
            <div id="data">
                <span>새 비밀번호</span>
                <div class="info-data">{{form.new_password1}}</div>
            </div>
            {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
            <div id="data">
                <span>새 비밀번호 확인</span>
                <div class="info-data">{{form.new_password2}}</div>
            </div>
            {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
            <button class="change-info-link">비밀번호 수정</button>
        </form>
    </div>
</div>

{% endblock %}