{% extends "base.html" %}
{% block page_title %}비밀번호 변경{% endblock page_title %}
{% block content %}
{% include 'users/partials/navbar.html' %}

<h3>비밀번호 변경</h3>
<div>
    <form action="{% url 'users:update_password' %}" method="POST">
        {%csrf_token%}
        <p>현재 비밀번호 : {{form.old_password}}</p>
        {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
        <span>{{error}}</span>
        {% endfor %}
        {% endif %}
        <p>새 비밀번호: {{form.new_password1}}</p>
        {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
        <span>{{error}}</span>
        {% endfor %}
        {% endif %}
        <p>새 비밀번호 확인: {{form.new_password2}}</p>
        {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
        <span>{{error}}</span>
        {% endfor %}
        {% endif %}
        <button class="btn bg-primary text-white">비밀번호 수정</button>
    </form>
</div>

{% endblock %}